In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('data.csv')
df

    x    y
0   1  2.0
1   2  2.8
2   3  3.6
3   4  4.5
4   5  5.1
5   6  5.8
6   7  6.9
7   8  7.4
8   9  8.2
9  10  9.1

<h1 style="color:yellowgreen">To draw only values (x,y)</ha>

In [4]:
x = df['x'].values
y = df['y'].values
x,y

(array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]),
 array([2. , 2.8, 3.6, 4.5, 5.1, 5.8, 6.9, 7.4, 8.2, 9.1]))